/* Global Styles */

* {
    /* this includes padding and border widths in to */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100%;
    height:auto;
    /* resize container that img is inside of */
}

/* Flexbox simple row layouts */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* no wrap means ur stacking running out of room, doesn't wrap the line, starts new line if content overflows */
    /* some styles so we can see containers */
    border: 1px solid purple;
    background-color: rgba(255,0,255,0.3);
    min-height: 400px;
    width: 100%;
}

.item {
    border: 1px solid cornflowerblue;
    background-color: rgba(0,0,255, 0.3);
    width: 23%;
    height: 300px;
}

.center {
    display: flex;
    justify-content: center; 
    /* justify-content does horizontal items */
    align-items: center;
    /* align-items does center, bottom ... of each other */
}

.justify-start {
    justify-content: flex-start;
    /* flex start by default */
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-even {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-stretch {
    align-self: stretch;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .self-stretch {
        height: 300px;
        /* self-stretch, or any stretch flex property will not override fixed widths */
        width: auto;
    }
}